{{# each products }}
    <div class="row mb-5">
        {{# each this}}
            <div class="col-sm-6 col-md-4">
                <div class="card">
                    <img class="card-img-top img-responsive" src="{{ this.imagePath }}" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">{{ this.title }}</h4>
                        <p class="card-text description">{{ this.description }}</p>
                    </div>
                    <div class="card-footer">
                        <div class="clearfix">
                            <div class="price pull-left">${{ this.price }}</div>
                            <a href="/add-to-cart/{{this._id}}" class="btn btn-success pull-right">Add to Shopping Cart</a>
                        </div>
                    </div>
                </div>

            </div>
        {{/each}}
    </div>
{{/each}}





